<div class="startover">
          <%= link_to(root_path) do %>
          START OVER <img class="plane" src="http://i62.tinypic.com/2dwhjlk.png">
        <% end %>
          </div>

<div class ="instagram">
<center>
  <p>GTFO of <%= @departing_city %>!
  <p>Instagram Feed</p>
  <p>Check out what other people are doing in <%= @arrival_city %></p>
  <p>Fares as low as <%= @departing_city %>
</center>

  <% @instagram.each do |instagram| %>

  <%= image_tag instagram.images.standard_resolution.url, class: "image" %>

  <% end %>
</div>
<%= @parsed_fares.inspect %>
